* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-basis: 100vh;
}

.aside-left {
    flex: 1;
    background: #eee;
    border-right: solid 1px black;
    width: 100%;
    display: flex;
}
    
.aside-left-background {
    flex: 1;
    background: url(../images/coolBill.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    
.aside-left-content {
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
    
.aside-left-content-block p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1.5vw + 1.5vh);
}

.main {
    flex: 2;
    padding: 0.5vh 2vw;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1.4vw + 1.4vh);
    padding: 1.75vh 1.75vw;
}

.route-select {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

/* larger than smartphone portrait */
@media all and (min-width: 640px) {
    .content {
        display: flex;
        flex-direction: row;
        flex-basis: 85vh;
    }

    .aside-left {
        flex: 1;
        order: 0;
        display: flex;
        flex-direction: column;
    }
    
    .aside-left-content {
        flex: 1;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aside-left-content-block {
        flex: 1;
        text-align: center;
    }

    .main {
        flex: 2;
        order: 1;
    }
}

@media (orientation: landscape) {
    .content {
        display: flex;
        flex-direction: row;
        flex-basis: 85vh;
    }

    .aside-left {
        flex: 1;
        order: 0;
        display: flex;
        flex-direction: column;
    }
    
    .aside-left-content {
        flex: 1;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aside-left-content-block {
        flex: 1;
        text-align: center;
    }

    .main {
        flex: 2;
        order: 1;
    }
}
