/* -------------------------------------------------------
   GLOBAL RESET
------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

/* -------------------------------------------------------
   BASE LAYOUT
------------------------------------------------------- */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

h1,
h2 {
  margin: 8px 0;
}

/* -------------------------------------------------------
   LEGACY / OPTIONAL LAYOUT STRUCTURES
   (wrapper, content, aside-left, etc.)
------------------------------------------------------- */
.wrapper {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-basis: 100vh;
}

.aside-left {
  flex: 1;
  background: #eee;
  border-right: solid 1px black;
  width: 100%;
  display: flex;
}

.aside-left-background {
  flex: 1;
  background: url(../images/coolBill.jpg) no-repeat center center;
  background-size: cover;
}

.aside-left-content {
  flex: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.aside-left-content-block p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.5vw + 1.5vh);
}

.main {
  flex: 2;
  padding: 0.5vh 2vw;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(1.4vw + 1.4vh);
  padding: 1.75vh 1.75vw;
}

/* -------------------------------------------------------
   MEDIA QUERIES
------------------------------------------------------- */

/* Larger than smartphone portrait */
@media all and (min-width: 640px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-basis: 85vh;
  }

  .aside-left {
    flex: 1;
    order: 0;
    display: flex;
    flex-direction: column;
  }

  .aside-left-content {
    flex: 1;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-left-content-block {
    flex: 1;
    text-align: center;
  }

  .main {
    flex: 2;
    order: 1;
  }
}

/* Landscape orientation */
@media (orientation: landscape) {
  .content {
    display: flex;
    flex-direction: row;
    flex-basis: 85vh;
  }

  .aside-left {
    flex: 1;
    order: 0;
    display: flex;
    flex-direction: column;
  }

  .aside-left-content {
    flex: 1;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aside-left-content-block {
    flex: 1;
    text-align: center;
  }

  .main {
    flex: 2;
    order: 1;
  }
}